html{
    background-image: url(images/background.jpg);
}

.hidden {
    display: none;
}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}       

.topRow{
    padding-top: 5px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}



.newBookmarkForm{
    margin: 50px;
    padding-top: 10px;
    display: flexbox;
    justify-content: center;
    padding-bottom: 10px;
}                               

.bookmarkButton{
    /* border-radius: 11%; */
    width: 90%;
    display:flex;
    align-items: center;
    background-color: ivory;

}
li {
    list-style: none;
}
.bookmarkContents{
    
    background-color: rgb(189, 197, 180);
}

button:hover {
    background-color: #6d4449;
    color: white;
}



@media all and ( min-width: 900px ){
    main{
        zoom: 180%
    };
    .bookmarkButton{
        width: 95%;
    }
}