html{
    background-image: url(images/background.jpg);
}

.hidden {
    display: none;
}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}       


li {
    list-style: none;
}
.new-bookmark .expanded-bookmark, .edit-bookmark, .form-field, .bookmark-controls{
  background-color: rgba(193, 197, 180, 0.548);
}

button:hover {
    background-color: #6d4449;
    color: white;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


/*Switches to desktop view*/@media all and ( min-width: 900px ){
  main{
    zoom: 180%}
;}



/*Centers content*/.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;}


/*Sets input width*/.flex-outer,.flex-inner {
  list-style-type: none;
  padding: 0;}

  

/*Aligns input and options*/.flex-outer li,.flex-inner{  display: flex;
  flex-wrap: wrap;
  align-items: center;}


/*Align form*/.flex-outer > li > label,.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;}

/*Aligns form further*/.flex-outer > li > label + *,.flex-inner {
  flex: 1 0 220px;}

/*Add gap between items*/.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;}


/*Touch up text*/.flex-outer li label,.flex-outer li p, .bookmark-title{
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;}

  
/*Makes input pretty*/.flex-outer li input:not([type='checkbox']),.flex-outer li textarea {
  padding: 15px;
  border: none;}


/*Styles flex-list buttons*/.flex-outer li button {
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;}


/*Resize inner flex-list*/.flex-inner li {
  width: 100px;}


/*Default button row style*/.flex-buttons {
  padding: 8px 16px;
  border-radius: 2px;
  margin-bottom: 20px;}


/*Default button style*/.flex-button, button{
  background: rgba(26, 21, 54, 0.664);
  color: #f2f2f2;
  letter-spacing: .09em;
  padding: 8px 16px;
  text-transform: uppercase;
  border: none;}
