html{
    background-image: url(images/background.jpg);
}

.hidden {
    display: none;
}
li {
    list-style: none;
}

body {
    margin: auto;
    width: 50%;

    padding: 100px;
}

.bookmark{
    border-radius: 5%;
    width: 95%;
    background-color: ivory;

}
.bookmarkContents{

    /* padding-right: 20%;
    padding-left: 20%; */
    width: 95%;
    background-color: rgb(208, 238, 178);
}

button:hover {
    background-color: #6d4449; /* Green */
    color: white;
  }
h1{
    font-family: 'Oswald', sans-serif;
}